:root {
    --color-primary: blue;
    --color-read: green;
    --color-unread: red;
}

header {
    background-color: aliceblue;
}

#book-form {
    display: none;
}

#bookshelf {
    display: grid;
    gap: 1rem;
}

.book {
    border: 2px solid var(--color-primary);
    border-radius: 1rem;

    padding: 1rem;
}

.book[data-read='true'] {
    border: 2px solid var(--color-read);
}

.book[data-read='false'] {
    border: 2px solid var(--color-unread);
}

.book-read-button {
    
}

.book-remove-button {
    
}