:root {
    --color-primary: red;
    --color-read: green;
    --color-unread: yellow;
}

header {
    background-color: aliceblue;
}

#book-form {
    display: none;
}

#bookshelf {
    display: grid;
    gap: 1rem;
}

.book {
    border: 2px solid var(--color-primary);
    border-radius: 1rem;

    padding: 1rem;
}

.book-read-button {

}

.book-remove-button {
    
}